<%= form_with(model: talk) do |form| %>

  <%= errors_helper(form) %>

  <div class="field input-talk-height white-boxes">

    <label for="talk_text" class="form-text">TALK ABOUT SOMETHING</label>
    <%= form.text_field :text, class:"form-control mt-2" %>
  </div>
<% end %>
