<% @followeds.each do |usr| %>
  <div class="d-flex pt-2 pb-2 border-bottom">
    <div>
      <img src="<%=(url_for(usr.photo))%>", class="rounded-circle border mini-img-right-bio">
    </div>
    <div class="d-flex flex-column ms-2">
      <span>
        <%= link_to usr.full_name, user_path(usr.id), class: "author-name" %>
      </span>
      <span class="gray-text-userpage">
        @<%= usr.username  %>
      </span>
    </div>
  </div> 
<% end %>
