<div class="text-light d-flex m-2 mt-3 max-with-user-info align-items-center">
  <div class="border size-img-info">
    <%= current_user.photo %>
  </div>
  <span class="ms-3">
    <%= current_user.username %>
  </span>
</div>

<div class="row row-cols-2 text-center text-light mt-4 mb-4">
  <div class="d-flex flex-column">
    <span>
      850
    </span>
    <span>
      following
    </span>
  </div>
  <div class="d-flex flex-column">
    <span>
      379
    </span>
    <span>
      followers
    </span>
  </div>
</div>