
<nav class="navbar-light navbar-dark navbar-expand-md">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto d-flex flex-column">
        <li><%= user_sidebar_info %></li>
        <li><%= login_helper(style="nav-link") %></li>
        <li><a class="nav-link" href="/">Home page</a></li>
        <li class="to_hidden"></li>
      </ul>
    </div>

</nav>
<div>

</div>