.full_height {
  height: 1000px;
}

.h-gray-bar{
  height: 40px;
}



/* BLUE SIDEBAR */
.to-hidden {
  width:300px;
  visibility: hidden;
}

.bg-sidebar {
  background-color: #1A2F54;
}

.max-with-user-info {
  max-width: 300px;
}

.size-img-info {
  min-width: 60px;
  height: 60px;
}

/* TOP NAVBAR */

.bg-blue {
  background-color: #1DA1F2;
}

/* TALK INDEX FORM AND TALK BOXES */

.white-boxes {
  padding: 10px 20px 10px 20px;
  background: white;
  margin: 20px;
}

.input-talk-height {
  height: 100px;
}

.author-name {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.author-name:hover {
  color: #1DA1F2;
}

.talk-body {
  font-size: 0.8em;
}

.blue-bold-text {
  color: #1DA1F2;
}

/* USER PAGE */
.img-right-bio{
  height: 100px;
  width: 100px;
}

.author-name-static {
  font-weight: bold;
  color: black;
}

.gray-text-userpage {
  color: gray;
  font-size: 0.7em;
}

.cover-image {
  height: 200px;
}

.border-talks {
border-bottom: 5px solid #1DA1F2;
}